<div class="swiper-container carousel__container">
  <h2>Fotos</h2>
  <div class="swiper-wrapper carousel__wrapper">
    @for (slide of slides; track slide) {
      <div class="swiper-slide carousel__slide">
        <img
          [src]="slide.src"
          [alt]="slide.alt"
          (click)="openLightbox(slides.indexOf(slide))"
          class="carousel__image"
        />
      </div>
    }
  </div>

  <!-- Botones de navegación -->
  <div class="carousel__button carousel__button--next"></div>
  <div class="carousel__button carousel__button--prev"></div>

  <!-- Paginación -->
  <div class="carousel__pagination"></div>
</div>

@if (lightboxOpen) {
  <div class="lightbox__overlay">
    <button class="lightbox__close" (click)="closeLightbox()">✖</button>
    <img [src]="slides[currentIndex].src" alt="Lightbox Image" class="lightbox__image" />
    <button class="lightbox__nav lightbox__prev" (click)="prevImage()">←</button>
    <button class="lightbox__nav lightbox__next" (click)="nextImage()">→</button>
  </div>
}
