.home {
  position: relative; // Necesario para manejar la posición de los elementos dentro de home
}

.home__cover {
  position: relative;
  width: 100%;
  height: 30%; // Ajusta según el tamaño que desees para la portada
  background-color: #1c1c1c; // Color de fondo de la portada
  overflow: visible;
  border-radius: 0.5rem; // Bordes redondeados de la portada
  /* Ajusta la altura para pantallas más pequeñas */
}

.home__profile {
  position: absolute;
  left: 50%; /* Centrado horizontalmente */
  transform: translateX(-50%); /* Centrado exacto horizontal */

  /* Usamos calc() para ubicar la imagen de perfil */
  top: calc(
    100% - 75px
  ); /* 50% de la altura de la portada menos la mitad del tamaño de la imagen de perfil */

  width: 180px; /* Tamaño de la imagen de perfil */
  height: 180px;
  border-radius: 50%; /* Hace la imagen redonda */
  overflow: hidden; /* Recorta la imagen dentro del círculo */
  border: 4px solid white; /* Borde blanco alrededor de la imagen */
}

.home__profile img {
  width: 100%;
  height: 100%;
  object-fit: cover; // Asegura que la imagen se ajuste al círculo sin distorsión
}

@media (max-width: 768px) {
  .home__cover {
    height: 30%; // Ajusta el tamaño de la portada en pantallas más pequeñas
  }

  .home__profile {
    width: 120px; // Reduce el tamaño de la imagen de perfil en pantallas más pequeñas
    height: 120px;
  }
}

.home__carousel-container {
  width: 100%; /* Asegúrate de que ocupe todo el ancho del padre */
  max-width: 1200px; /* Límite opcional para pantallas grandes */
  margin: 0 auto; /* Centrado horizontal */
  overflow: hidden; /* Evita el desbordamiento */
}

/* Estilos para el icono flotante de WhatsApp */
.whatsapp-icon {
  position: fixed;
  bottom: 20px; /* Ajusta la distancia desde el borde inferior de la pantalla */
  right: 20px; /* Ajusta la distancia desde el borde derecho de la pantalla */
  border-radius: 50%; /* Redondea el fondo */
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Asegura que el icono esté siempre por encima de otros elementos */
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1); /* Efecto de agrandado al pasar el mouse */
  }

  img {
    width: 50px; /* Tamaño del icono */
    height: 50px;
  }
}
